<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moyunying.assistant.dao.MaterialMapper">

    <sql id="selectFields">
        id, title, content, picture_url, create_time
    </sql>

    <sql id="insertFields">
        title, content, picture_url, create_time
    </sql>

    <insert id="insertMaterial" parameterType="Material" keyProperty="id">
        insert into material(<include refid="insertFields"></include>)
        values(#{title}, #{content}, #{pictureUrl}, #{createTime})
    </insert>

    <select id="selectMaterials" resultType="Material">
        select *
        from material
    </select>

    <select id="selectMaterialById" resultType="Material">
        select <include refid="selectFields"></include>
        from material
        where id = #{id}
    </select>

</mapper>
